#define MANIFEST 24
#define IDD_MAIN 1000
#define IDC_GRP1 1001
#define IDC_ORIDAT 1002
#define IDC_BROWSEORI 1003
#define IDC_GRP2 1004
#define IDC_BROWSENEW 1005
#define IDC_DIRNEW 1006
#define IDC_PACK 1007
#define IDR_XPMANIFEST1 1

IDD_MAIN DIALOGEX 10,10,279,108
CAPTION "yuka_script·â°üÆ÷"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0000
BEGIN
  CONTROL "Ô­Ê¼dat",IDC_GRP1,"Button",0x50000007,3,3,273,30
  CONTROL "",IDC_ORIDAT,"Edit",0x50010000,12,15,213,12,0x00000200
  CONTROL "ä¯ÀÀ",IDC_BROWSEORI,"Button",0x50010000,228,12,39,15
  CONTROL "´ý·â×°Ä¿Â¼",IDC_GRP2,"Button",0x50000007,3,39,273,30
  CONTROL "ä¯ÀÀ",IDC_BROWSENEW,"Button",0x50010000,228,48,39,15
  CONTROL "",IDC_DIRNEW,"Edit",0x50010000,12,51,213,12,0x00000200
  CONTROL "·â×°",IDC_PACK,"Button",0x50010001,105,78,63,21
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

