#define MANIFEST 24
#define IDD_MAIN 1000
#define IDC_SINGLE 1001
#define IDC_DIR 1002
#define IDR_XPMANIFEST1 1

IDD_MAIN DIALOGEX 300,200,127,25
CAPTION "DC2SC封装 by AmaF"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
BEGIN
  CONTROL "封装单个文件",IDC_SINGLE,"Button",0x50010000,3,3,57,18
  CONTROL "封装文件夹",IDC_DIR,"Button",0x50010000,66,3,57,18
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

