#define MANIFEST 24
#define IDD_DLG1 1000
#define IDC_CMPR 1001
#define IDC_CMPRDIR 1002
#define IDC_OVERWRITE 1003
#define IDR_XPMANIFEST1 1
#define IDD_DLG2 1100
#define IDC_GRP1 1101
#define IDC_GRP2 1102
#define IDC_EDIT1 1103
#define IDC_BROWSE1 1104
#define IDC_EDIT2 1105
#define IDC_BROWSE2 1106
#define IDC_START 1107

IDD_DLG1 DIALOGEX 300,250,145,42
CAPTION "BMP2WCG by AmaF"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CA0000
BEGIN
  CONTROL "转换选定文件",IDC_CMPR,"Button",0x50010000,3,3,68,22
  CONTROL "转换整个文件夹",IDC_CMPRDIR,"Button",0x50010000,75,3,68,22
  CONTROL "覆盖旧的wcg文件",IDC_OVERWRITE,"Button",0x58010003,3,27,72,12
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"


IDD_DLG2 DIALOGEX 0,0,196,97
CAPTION "腐姬封装器 by AmaF"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CA0800
BEGIN
  CONTROL "脚本文件夹",IDC_GRP1,"Button",0x50000007,3,3,190,30
  CONTROL "译文文件夹",IDC_GRP2,"Button",0x50000007,3,39,190,30
  CONTROL "",IDC_EDIT1,"Edit",0x50010080,12,15,138,12,0x00000200
  CONTROL "浏览",IDC_BROWSE1,"Button",0x50010000,156,15,28,12
  CONTROL "",IDC_EDIT2,"Edit",0x50010080,12,51,138,12,0x00000200
  CONTROL "浏览",IDC_BROWSE2,"Button",0x50010000,156,52,28,12
  CONTROL "开始封装",IDC_START,"Button",0x58010000,60,72,72,21
END

