#define MANIFEST 24
#define DLG_MAIN 1000
#define IDC_GRP1 1001
#define IDC_DIRORS 1002
#define IDC_BROWSEORS 1003
#define IDC_GRP2 1004
#define IDC_DIRTXT 1005
#define IDC_BROWSETXT 1006
#define IDC_TOTXT 1007
#define IDC_TOORS 1008
#define IDR_XPMANIFEST1 1

DLG_MAIN DIALOGEX 0,0,243,108
CAPTION "SD脚本转换器"
FONT 9,"宋体",400,0,0
STYLE 0x10C80800
BEGIN
  CONTROL "ORS目录",IDC_GRP1,"Button",0x50000007,3,3,237,30
  CONTROL "",IDC_DIRORS,"Edit",0x50010000,9,18,195,12,0x00000200
  CONTROL "...",IDC_BROWSEORS,"Button",0x50010000,210,15,21,12
  CONTROL "纯文本目录",IDC_GRP2,"Button",0x50000007,3,39,237,30
  CONTROL "",IDC_DIRTXT,"Edit",0x50010000,9,51,195,12,0x00000200
  CONTROL "...",IDC_BROWSETXT,"Button",0x50010000,210,51,21,12
  CONTROL "转换到纯文本",IDC_TOTXT,"Button",0x50010000,18,78,72,21
  CONTROL "转换到ORS",IDC_TOORS,"Button",0x50010000,144,78,75,21
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

